body {
    height: 100vh;
    font-family: "SF Pro Display" !important;
    background-image: url("../img/813-1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.App-header {
    min-height: 100vh;
}
.scrollbar {
    overflow: scroll;
    max-height: calc(100vh - 80px);
}
.scrollbar::-webkit-scrollbar {
    display: none;
}
.form-group-customize textarea {
    min-height: 150px;
    font-size: 13px;
}
.card-customize {
    border: none;
    background-color: #ebecf0;
}
.card-customize .card-header {
    border-color: transparent;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
}
.card-customize .card-header .h6 a:hover {
    text-decoration: none;
}
.card-customize .card-header .btn-group-sm .btn {
    font-size: 12px;
    padding: 5px 7.5px;
}
.card-customize .card-header .btn-group-sm .btn:first-child {
    padding-right: 0;
}
.card-customize .card-body {
    height: 100px;
    padding: 0.25rem 1rem .5rem;
    overflow-y: scroll;
}
.card-customize .card-body::-webkit-scrollbar {
    width: 7px;
}
/* ≡ Only apply for style Scrollbar */
/* .card-customize .card-body::-webkit-scrollbar-track {} */
/* ≡ Track apply for Block Scrollbar */
.card-customize .card-body:hover::-webkit-scrollbar-thumb {
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: linear-gradient(#fff, #e4e4e4);
    transition: 1s linear;
}
/* ≡ Thumb apply for Scroll */
.card-customize .card-body::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}
.card-customize .card-body::-webkit-scrollbar-thumb:active {
    border: 1px solid transparent;
    background: linear-gradient(#22add4, #1e98ba);
}
